:root {
   /* ======Палітра для текста====== */

   /* Колір головного текста */
   --color-text-primary: #212121;
   /* Колір неголовного текста */
   --color-text-p: #757575;
   /* Додатковий колір текста */
   --color-text-accent: #2196F3;
   /* Колір текста для героя*/
   --color-text-hero: #FFFFFF;
   /* Альтернативний колір текста кнопок */
   --color-text-button: #FFFFFF;
   /* Колір текста для футера*/
   --footer-text: #FFFFFF;
   /* Колір пояснюючого текста портфоліо при ховері */
   --color-portfolio-middle: #FFFFFF;
   /* Колір текста ім'я поля вводу даних */
   --text-popup-label: #757575;
   /* Колір плейсхолдера у модальному вікні*/
   --color-text-placeholder: rgba(117, 117, 117, 0.5);
   /* Колір текста вводу у футері */
   --footer-input-sending: rgba(255, 255, 255, 0.6);

   /* ======Палітра для фону====== */

   /* Основний колір фону */
   --back-primary: #FFFFFF;
   /* Додатковий колір фону */
   --back-accent: #F5F4FA;
   /* Фон для героя */
   --back-hero-primary: rgba(47, 48, 58, 0.4);
   /* Додатковий фон героя */
   --back-hero-accent: #C4C4C4;
   /* Альтернативний колір кнопки героя */
   --back-alt-hero: #055393;
   /* Фон для футера */
   --back-footer: #2F303A;
   /* Альтернативний колір фону кнопок */
   --back-alt-button: #2196F3;
   /* Затемнення основного фону при активному модальному вікні */
   --back-popup: rgba(0, 0, 0, 0.5);
   /* Затемнення на картці портфоліо */
   --back-portfolio-middle: rgba(33, 150, 243, 0.9);

   /* ======Шрифт====== */

   /* Основний шрифт */
   --fonts-primary: Roboto;
   /* Шрифт для лого */
   --fonts-logo: Raleway;

   /* ======Рамки====== */

   /* Колір рамки героя */
   --color-border-hero: #000000;
   /* Колір рамки карток */
   --color-border: #EEEEEE;
   /* Колір рамки хедера */
   --color-border-header: #ECECEC;
   /* Колір кнопки закриття введення даних */
   --color-border-close: rgba(0, 0, 0, 0.1);
   /* Основний колір рамки введення даних */
   --border-popup-primary: rgba(33, 33, 33, 0.2);
   /* Альтернативний колір рамки введення даних */
   --border-popup-accent: #2196F3;
   /* Колір рамки для розсилки */
   --border-sending: rgba(255, 255, 255, 0.3);

   /* ======Палітра для тіні====== */

   /* Колір тіні кнопки героя*/
   --shadow-hero: rgba(0, 0, 0, 0.15);
   /* Тінь для фільтра портфоліо*/
   --shadow-filter-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   /* Тінь для картки портфоліо*/
   --shadow-card-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   /* Тінь для картки команди */
   --shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   /* Тінь для поля введення даних */
   --shadow-popup: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   /* Тінь для кнопки Відправити у полі введення даних */
   --shadow-popup-button: 0px 4px 4px rgba(0, 0, 0, 0.15);

   /* ======Палітра для іконок====== */

   /* Основний колір іконок */
   --color-icon-primary: #AFB1B8;
   /* Алтернативний колір іконок */
   --color-icon-accent: #FFFFFF;
   /* Основний колір фона іконок */
   --back-icon-primary: #FFFFFF;
   /* Алтернативний колір фона іконок */
   --back-icon-accent: #2196F3;
   /* Колір фона іконок у футері */
   --back-icon-footer: rgba(256, 256, 256, 0.1);
   /* Колір для кнопки закриття модального вікна */
   --color-popup-x: #000000;

   /* ======Розміри елементів====== */
   --height-header: 80px;

}